.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
}

.justifyCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
}

.justifyStart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justifyEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justifyBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justifyAround{
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contentAround {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.contentBetween {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.contentCenter {
  -ms-flex-line-pack: center;
      align-content: center;
}

.itemsEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.itemsStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.itemsCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selfCenter {
  -ms-flex-item-align: center;
      align-self: center;
}

.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; 
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}