.contact {
  padding: 0; 

  button {
    width: 100%; 
  }

  &__form {

    padding: 5%;

    &--contact {
      background-color: $lightgreyC; 

      button {
        margin-top: 10px; 
      }
    }
  }
}

#numberOfPeople {
  margin-right: 10px; 
}