/*-------- HEADER --------*/

header {
  width: 100%; 
  position: fixed;
  top: 0; 
  padding: 15px 0;
  z-index: 100; 
  color: white; 
  font-family: "Abel"; 
  padding: 10px 60px; 

  h1 {
    font-size: 30px; 
    margin-bottom: 0; 
    border: 2px solid $yellowC;
    padding: 5px 10px; 
  }
}

nav {
  li {
    margin-left: 20px; 

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $yellowC;
        text-decoration: none;
      }
    }

  }
}

.hamburger {
  display: none;
}

.hidden {
  display: none; 
}

.responsiveNav {
  display: flex;
  background-color: #30415D; 
  position: fixed;
  top: 58px; 
  right: 0; 

  ul {
    width: 100%; 
    padding: 10px; 

    li {
      margin: 0;
      padding: 10px; 
      width: 100%; 
      border-bottom: 1px solid $lightgreyC;

      &:first-child {
        border-top: 1px solid $lightgreyC;
      }
    }
  }
}


.logo {
  font-size: 20px;
}

.active {
  color: $yellowC;
}
