/*-------- HEADER --------*/

header {
  width: 100%; 
  position: fixed;
  top: 0; 
  padding: 15px 0;
  z-index: 100; 
  color: white; 
  font-family: "Abel"; 
  padding: 10px 60px; 

  h1 {
    font-size: 30px; 
    margin-bottom: 0; 
    border: 2px solid $yellowC;
    padding: 5px 10px; 
  }
}

nav {
  li {
    margin-left: 20px; 

    a:hover {
      color: $yellowC;
    }
  }
}

.hamburger {
  display: none;
}

.active {
  color: $yellowC;
}

