.news {
  text-align: justify;

  h2 {
    background-color: $info; 
    color: white;
    padding: 5px 10px; 
  }

  &__container {
    padding: 10px; 

    .card {
      margin-right: 15px; 
      padding: 15px;
    }
  }
}

.readMore {
  color: $info;
  text-decoration: none;
  -ms-flex-item-align: center;
      align-self: center;


  &:hover {
    text-decoration: underline;
  }
}