

@media screen and (max-width: 1160px){
  #slider .MS-content .item {
    width: 50%; 
  }

  .about__info__container {
    display: flex;
    flex-direction: column;

    #map {
      width: 80%; 
      margin-top: 20px; 
      align-self: center;
    }
  }
}

@media screen and (max-width: 875px){

  header {
    background-color: #30415D;
    opacity: .89; 

    #nav {
      display: none; 
    }

    .hamburger {
      display: flex;
      font-size: 30px; 
    }
  }

  .about {
    flex-direction: column;
  }

  .about__info__container {
    flex-direction: row;

    #map {
      margin-top: 0; 
      flex: 1;
    }
  }

  .news__container {
    flex-direction: column;
    align-items: center;

    article {
      width: 80%; 
    }
  }

  .contact {
    flex-direction: column;
    align-items: center;
    margin: 0; 

    &__form {
      width: 100%; 

      button {
        margin-top: 10px;
        width: 100%;
      }

      &--subscribe {
        margin-bottom: 20px; 
      }
    }
  }
}

@media screen and (max-width: 750px){
  #MS-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      width: 100%; 
      margin-bottom: 20px; 
    }
  }

  .MS-controls {
    display: none;
  }
}

@media screen and (max-width: 570px){
  #map {
    display: none; 
  }

  header {
    padding: 10px 30px;
  }

  .logo {
    font-size: 20px;
  }

  .home__title {
    font-size: 30px; 
  }
}

@media screen and (max-width: 483px) {
  .home__btns--more {
    margin-bottom: 10px; 
  }
}
