
$crimsonC : #DC143C; 
$charcoalC : #2B303A; 
$blackC : #031424; 
$info : #3E78B2; 
$lightgreyC : #E7E6F7; 
$success : #4DA167; 
$yellowC : #f2ef00; 


body {
  width: 100%; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  color: $blackC; 
  font-family: 'Titillium Web';
}

section {
  padding: 5% 5%; 
}

a {
  color: inherit;
  text-decoration: none; 

  &:hover {
    color: $crimsonC;
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

h2 {
  font-family: 'Abel'; 
}

/*-------- HEADER --------*/

header {
  width: 100%; 
  position: fixed;
  top: 0; 
  padding: 15px 0;
  z-index: 100; 
  color: white; 
  font-family: "Abel"; 
  padding: 10px 60px; 

  h1 {
    font-size: 30px; 
    margin-bottom: 0; 
    border: 2px solid $yellowC;
    padding: 5px 10px; 
  }
}

nav {
  li {
    margin-left: 20px; 

    a:hover {
      color: $yellowC;
    }
  }
}

.active {
  color: $yellowC;
}



/*-------- HOME --------*/

.home {
  height: 100vh; 
  margin: 0; 
  background: url("../img/home.jpg") no-repeat center center;
  background-size: cover;  
  color: white; 
  text-align: center;
  font-family: 'Abel'; 

  &__title {
    margin-bottom: 40px; 

    span {
      border: 2px solid $yellowC;

    }
  }

  &__btns {
    button {
      width: 200px; 
      margin-right: 20px; 
    } 

    &--more {
      background-color: $crimsonC; 
      color: white; 
    }

    &--films {
      background-color: $crimsonC; 
      color: white; 
    }
  }
}

/*-------- ABOUT --------*/

.about {
  background-color: $lightgreyC; 

  h2 {
    color: white; 
    padding: 5px 10px; 
  }

  &__pres {
    margin-right: 20px;

    h2 {
      background-color: $crimsonC; 
    }

    p {
      padding: 10px; 
      text-align: justify;
    }
  }

  &__info{
    h2 {
      background-color: $info; 
    }

    &__container {
      padding: 10px; 

      li{
        display: flex;
        flex-direction: column;
        text-align: center;

        i {
          width: 20px; 
          height: 20px; 
          color: $charcoalC; 
          align-self: center;
          margin-right: 5px; 
        }

        p {
          margin: 0; 
        }
      }
    }
  }
}

/*-------- NEWS --------*/

.news {
  text-align: justify;

  h2 {
    background-color: $info; 
    color: white;
    padding: 5px 10px; 
  }

  &__container {
    padding: 10px; 

    article {
      margin-right: 15px; 
    }
  }
}

/*-------- FILMS --------*/

.films {
  background-color: $charcoalC; 
  color: white; 
  text-align: center;

}


#slider {
  position: relative;      /* recommended */

  .MS-content {
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    margin: 0 5%; 
  }

  .MS-controls {
    .MS-left {
      left: 5px;
    }

    .MS-right {
      right: 5px; 
    }

    button {
      position: absolute;
      top: 200px; 
      background-color: transparent; 
      border: 2px solid $yellowC;
      color: white; 
      height: 70px; 
      width: 50px; 
      font-size: 20px; 
    }
  }
}

.item {
  display: inline-block;   /* required */
  width: 33.33%;              /* required * Determines number of visible slides */ 
  position: relative;      /* required */
  vertical-align: top;     /* required */
  overflow: hidden;        /* required */
  height: 100%;            /* recommended */
  white-space: normal;     /* recommended */

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 300px; 
    margin: 0 auto; 

    img {
      height: 400px; 
      width: auto;
      position: relative;
    }

    figcaption {
      margin-top: 10px; 
      i {
      font-size: 18px; 
    }
    }
  }

  &:hover .item__details {
    bottom: 12%; 
    height: 90%; 
  }
}

.item__details {
  background-color: $lightgreyC;
  color: $charcoalC;
  padding: 25px 20px; 
  border-radius: 2px; 
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  overflow: scroll;
}

.datetime {
  background-color: $crimsonC; 
  color: white; 
  padding: 10px; 
  position: absolute;
  top: 20px; 
  left: 20px; 
}


@media screen and (max-width: 1160px){
  #slider .MS-content .item {
    width: 50%; 
  }
}

@media screen and (max-width: 750px){
  #slider .MS-content .item {
    width: 100%; 
  }
}


.success {
  background-color: $success; 
  color: white;

}


