
$crimsonC : #DC143C; 
$charcoalC : #2B303A; 
$blackC : #031424; 
$info : #3E78B2; 
$lightgreyC : #E7E6F7; 
$success : #4DA167; 
$yellowC : #f2ef00; 

body {
  width: 100%; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  color: $blackC; 
  font-family: 'Titillium Web';
}

section {
  padding: 5% 5%; 
}

.actionBtn {
  background-color: $crimsonC; 
  color: white; 
  width: 200px; 
  margin-top: 25px;
  

  &:hover {
    color: white;
    background-color: rgba(238, 0, 41, .8); 
  }
}

.actionLink {
  padding: 3px 10px; 
  background-color: $crimsonC; 
  color: white; 
  display: flex;
  margin-top: 25px;

  i {
    font-size: 20px; 
    margin-right: 5px;
    align-self: center;
  }

  &:hover {
    color: white;
    background-color: rgba(238, 0, 41, .8)
  }

}

ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none; 
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h2 {
  font-family: 'Abel'; 
}

.success {
  background-color: $success; 
  color: white;
}

.btn {
  font-family: 'Titillium Web';
  font-size: 17px; 
}


@import '_header';
@import '_about';
@import '_films';
@import '_home';
@import '_news';
@import '_contact';
@import '_responsive';
@import '_blog';
@import '_article';

