<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Les Films de Plein Air - Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/4b62c45289.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/flex.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
  <header id="header" class=" blog__header flex justifyBetween">
    <h1 class="logo selfCenter"><a href="../index.html" >Les Films de Plein Air</a></h1>
    <ul class="flex blog__nav selfCenter justifyBetween">
      <li><a href="../index.html">LE FESTIVAL</a></li>
      <li><a href="blog.html">LE BLOG</a></li>
    </ul>

  </header>

  <main>
    <section class="blog">
      <h2>Toute l'actualité de l'association <i>Les Films de Plein Air</i></h2>
      <div class="separator"></div>
      <div class="blog__container flexColumn itemsCenter">
        <article class="card blog__card">
          <h3 class="card-title">Lorem Ipsum</h3>
          <span class="card-subtitle">Posté le 18/07</span>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit neque quod animi consequatur, error dolor ipsum vero, dignissimos qui eum obcaecati esse molestiae minus nulla excepturi, doloribus expedita voluptate.</p>
          <a href="art5.html" class="actionLink"><i class="fa fa-caret-right"></i>Lire plus</a>
        </article>
        <article class="card blog__card">
          <h3 class="card-title">Lorem Ipsum</h3>
          <span class="card-subtitle">Posté le 18/07</span>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit neque quod animi consequatur, error dolor ipsum vero, dignissimos qui eum obcaecati esse molestiae minus nulla excepturi, doloribus expedita voluptate.</p>
          <a href="art4.html" class="actionLink"><i class="fa fa-caret-right"></i>Lire plus</a>
        </article>
        <article class="card blog__card">
          <h3 class="card-title">Lorem Ipsum</h3>
          <span class="card-subtitle">Posté le 18/07</span>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit neque quod animi consequatur, error dolor ipsum vero, dignissimos qui eum obcaecati esse molestiae minus nulla excepturi, doloribus expedita voluptate.</p>
          <a href="art3.html" class="actionLink"><i class="fa fa-caret-right"></i>Lire plus</a>
        </article>
        <article class="card blog__card">
          <h3 class="card-title">Lorem Ipsum</h3>
          <span class="card-subtitle">Posté le 18/07</span>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit neque quod animi consequatur, error dolor ipsum vero, dignissimos qui eum obcaecati esse molestiae minus nulla excepturi, doloribus expedita voluptate.</p>
          <a href="art2.html" class="actionLink"><i class="fa fa-caret-right"></i>Lire plus</a>
        </article>
        <article class="card blog__card">
          <h3 class="card-title">Lorem Ipsum</h3>
          <span class="card-subtitle">Posté le 18/07</span>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit neque quod animi consequatur, error dolor ipsum vero, dignissimos qui eum obcaecati esse molestiae minus nulla excepturi, doloribus expedita voluptate.</p>
          <a href="art1.html" class="actionLink"><i class="fa fa-caret-right"></i>Lire plus</a>
        </article>
      </div>
    </section>

  </main>

  <footer class="footer flexColumn itemsCenter">
    <div class="footer__content">
      <ul class="flex justifyCenter footer__media">
        <li><a href="facebook.com"><i class="fa fa-facebook"></i></a></li>
        <li><a href="twitter.com"><i class="fa fa-twitter"></i></a></li>
      </ul>
      <ul class="flexColumn itemsCenter footer__nav">
        <li><a href="../index.html">Le Festival</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </div>
    <div class="copyright">
      <span class="textCenter">&copy; Amélie-Dzovinar Haladjian</span>
    </div>
  </footer>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

  <script type="text/javascript" src="../js/script.js"></script>

</body>
</html>